@font-face {
    font-family: nunito;
    src: url("../assets/fotns/NunitoSans-Regular.ttf");
}
@font-face {
    font-family: nunito-bold;
    src: url("../assets/fotns/NunitoSans-Bold.ttf");
}
@font-face {
    font-family: nunito-extra-bold;
    src: url("../assets/fotns/NunitoSans-ExtraBold.ttf");
}
